 <ul class="dropdown-menu">
        {#<li><a href="http://www.jquery2dotnet.com">Action</a></li>
        <li><a href="http://www.jquery2dotnet.com">Another action</a></li>
        <li><a href="http://www.jquery2dotnet.com">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="http://www.jquery2dotnet.com">Separated link</a></li>
        <!--<li class="divider"></li>-->#}

     <!--Ambil Data Criteria berdasarkan Form yang di load-->
        <li><a href="http://www.jquery2dotnet.com">Advanced Search</a></li>
 </ul>