/*--------------------ENTRY FORM CONTROL-------------------*/
textarea.NA-Form-Control {
    height: auto;
}

form .NA-Entry-label {
    vertical-align: middle;
    text-align: right;
    margin: auto;
    display: block;
    margin-right: 10px;
    font-weight: normal;
    margin-bottom: 2px;
}

form .NA-Entry-div-row {
    margin-bottom: 7px;
    padding-left: 2px;
    text-align: left;
}

    form .NA-Entry-div-row > div:first-child {
        padding-right: 2px;
        padding-left: 0;
    }

form .NA-Entry-inlinve-div {
    display: inline-block;
}

    form .NA-Entry-inlinve-div::after, form .NA-Entry-inlinve-div::before {
        display: table;
        content: "";
    }

input[type="text"], input[type="password"], textarea {
    height: 27px;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    position: relative;
}

fieldset {
    padding: 0.1em 0.15em 0.15em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

legend {
    margin-bottom: 2px;
    font-size: 14px;
    line-height: inherit;
    color: #333333;
    border: 1px solid #c0c0c0;
    /*border-bottom: 1px solid #0b9910;*/
    text-align: left;
}
table.ui-datepicker-calendar{
    background-color:floralwhite;
     background-image:linear-gradient(linear-gradient(48deg,#E0E0E0,#FEFFFD,#8FBC8F)) !important;
       border-color: #0b9910;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #4CAF50;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #4CAF50;
}
.NA-Form-Control:-moz-placeholder {
    color: #999999;
}

.NA-Form-Control::-moz-placeholder {
    color: #999999;
}

.NA-Form-Control:-ms-input-placeholder {
    color: #999999;
}

.NA-Form-Control::-webkit-input-placeholder {
    color: #999999;
}

.NA-Form-Control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    .NA-Form-Control:focus {
        border-color: #0b9910;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #4CAF50;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #4CAF50;
    }

    .NA-Form-Control[disabled],
    .NA-Form-Control[readonly],
    fieldset[disabled] .NA-Form-Control {
        cursor: not-allowed;
        background-color: #eeeeee;
    }

    .NA-Form-Control.select {
        height: 28px;
        font-size: 13px;
        padding-bottom: 2px;
        padding-top: 2px;
    }
.NA-Form-Control textarea{
    max-width:520px;
}
ul[id*="ui-id-"]{
    background-image:linear-gradient(linear-gradient(48deg,#E0E0E0,#FEFFFD,#8FBC8F)) !important;
}
table.ui-datepicker-calendar tr td:first-child span.ui-state-default {
color: red;
font-weight: bold;
}
/* ======== jQUERY Error Info ==============*/
div#info_dialog{
	width: 290px;
	height: auto;
	z-index: 1050;
	overflow: hidden;
	top: 30%;
	left: 45%;
	display: block;
	background: white;
}

/*input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}*/