<form action="http://localhost:8000/NA_Suplier/EntrySuplier/" method="post" style="width:420px;height:300px;" id="suplier_form" onsubmit="return false">
    {% csrf_token %}
    <style>
        form div.row {
            margin-top:15px
        }
    </style>
    <div class="row">
        <div class="col-md-5" style="padding: 0 15px;">
            <label for="id_supliercode">Supliercode:</label>
            {{form.supliercode}}
        </div>
        <div class="col-md-7">
            <label for="id_supliername">Supliername:</label>
            {{form.supliername}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="id_telp">Telp:</label>
            {{form.telp}}
        </div>
        <div class="col-md-6">
            <label for="id_hp">Hp:</label>
            {{form.hp}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="id_contactperson">Contactperson:</label>
            {{form.contactperson}}
        </div>
        <div class="col-md-6" style="margin-top:23px">
            <label for="id_inactive" style="display:inline">Inactive:</label>
            {{form.inactive}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="id_address">Address:</label>
        {{form.address}}
        </div>
    </div>
    
    {{form.initializeForm}}
    <input type="submit" style="display:none" id="suplier_submit" />
    
</form>