{% extends 'app/layout.html' %}

{% block SearchData %}
<li><a href="#" data-tipe="varchar" data-column="employee_name">Employee Name</a></li>
<li><a href="#" data-tipe="varchar" data-column="nik">Nik</a></li>
<li><a href="#" data-tipe="varchar" data-column="jobtype">Job Type</a></li>
<li><a href="#" data-tipe="varchar" data-column="territory">Territory</a></li>
<!--<li class="divider"></li>-->
<li><a href="#" data-tipe="varchar" data-column="inactive">InActive</a></li>
<li><a id="custSearch" href="#">Custom Search</a></li>
<!--<li class="divider"></li>-->
{% endblock %}

{% block javascriptAndUI %}
{% load static %}

<script type="text/javascript" src="../../../static/app/scripts/NAJS.js"></script>
<script type="text/javascript">
    
    (function(){   
        var txtSearchMaster =  NA.common.doc.querySelector('form.navbar-form div.input-group input[name="q"]'),
            btnSearchMaster = NA.common.doc.querySelector('form.navbar-form button[type="submit"].btn.btn-default');
        window.onunload = function(){
            if (typeof txtSearchMaster.onclick == "function") {
                NA.NAEvent.removeHandler(txtSearchMaster,'keydown',handlerSearchInput)               
            }
            if (typeof btnSearchMaster.onclick == "function") {
                NA.NAEvent.removeHandler(btnSearchMaster,'click',handlerSearchInput);
            }
        };
//=================add Dynamic Styles=============================
        NA.common.loadStyles("../../../static/app/content/jquery-ui.min.css","jqueryUI");
        NA.common.loadStyles("../../../static/app/content/ui.jqgrid.css","UIJqueryGrid");   
        var doc = doc||window.document;
        var DivSearch = doc.querySelector('ul.dropdown-menu.search');//return list Element
        (function(elm){
            var listElem = elm.children;
            Array.prototype.forEach.call(listElem,function(item){//buat jadi foreach mesti convert dulu ke array
                if(item.firstChild.nodeValue != 'CustomSearch'){
                    NA.NAEvent.addHandler(item,'click',function(event){
                        event.preventDefault();
                        if(item.firstChild.id === 'custSearch'){
                            //=========='show dialog search'==================
                            NA.common.dialog.createSearchDialog(event)
                        }
                        NA.common.getElementID('bySearch').firstChild.nodeValue = item.textContent;
                    });
                }
            });
        })(DivSearch);
    })();   
</script>
<script src="{% static 'app/scripts/jquery-1.11.0.min.js' %}" id="jq_uery"></script>
<script type="text/javascript" src="{% static 'app/scripts/JqGridJS/i18n/grid.locale-en.js' %}"></script>

<script src="{% static 'app/scripts/a/JqGridJS/jquery.jqGrid.min.js' %}"></script>
<script src="{% static 'app/scripts/jquery-ui.min.js' %}"></script>
<script src="{% static 'app/scripts/autocomplete.js' %}"></script>
<style>
div#content-0 {
    overflow:hidden;
}
div#gbox_NA_Acc_grid,div#gview_NA_Acc_grid,div#NA_Acc_pager,div.ui-jqgrid-titlebar{
    border-radius: 0px
}
</style>
{% endblock %}

{% block content-0 %}
<table id="NA_Acc_grid" style="overflow:auto"></table>
<div id="NA_Acc_pager" class="scroll" style="text-align:center;"></div>
{% endblock %}

{% block DialogEntry %}
<script>
    function get_csrf(){
        csrf_token = '{{csrf_token}}'
        return csrf_token
    }
</script>
<script type="text/javascript">
    var win = win || window;
    var status = win.status || window.status;
    var acc_grid = $("#NA_Acc_grid");
    var txtSearchMaster = txtSearchMaster || NA.common.doc.querySelector('form.navbar-form div.input-group input[name="q"]'),
        btnSearchMaster = btnSearchMaster || NA.common.doc.querySelector('form.navbar-form button[type="submit"].btn.btn-default');
    $(document).ready(function () {
        function LoadData(page) {
            if (arguments.length > 0) {
                var url = 'getData/?' + win.encodeURIComponent('columnName') + '=' + win.encodeURIComponent(NA.common.SearchData.getColumnKey()) +
                          '&' + win.encodeURIComponent('valueKey') + '=' + win.encodeURIComponent(NA.common.SearchData.getValueKey()) +
                          '&' + win.encodeURIComponent('dataType') + '=' + win.encodeURIComponent(NA.common.SearchData.getDataType()) +
                          '&' + win.encodeURIComponent('criteria') + '=' + win.encodeURIComponent(NA.common.SearchData.getCriteria());
                acc_grid.setGridParam({ url: url }).trigger("reloadGrid", [{ page: page, }]);
            } else {
                acc_grid.jqGrid({
                    url: 'getData/?' + win.encodeURIComponent('columnName') + '=' + win.encodeURIComponent(NA.common.SearchData.getColumnKey()) +
                                    '&' + win.encodeURIComponent('valueKey') + '=' + win.encodeURIComponent('-1') +
                                    '&' + win.encodeURIComponent('dataType') + '=' + win.encodeURIComponent(NA.common.SearchData.getDataType()) +
                                    '&' + win.encodeURIComponent('criteria') + '=' + win.encodeURIComponent(NA.common.SearchData.getCriteria()),
                    datatype: 'json',
                    mtype: 'GET',
                    colNames: ['idapp', 'Goods', 'Year', 'Start Date', 'Deprecition Expense', 'Deprecition Accumulation', 'Book Value', 'Createddate', 'Createdby', 'Modifieddate', 'Modifiedby'],
                    colModel: [
                        { name: 'idapp', index: 'idapp', width: 65, search: false, editable: false, hidden: true, key: true, editoptions: { dataInit: function (element) { jq(element).attr("readonly", "readonly"); } } },//
                        { name: 'fk_goods', index: 'fk_goods', width: 170, editable: true, search: false, editrules: { required: true }, sortable: true },
                        { name: 'year', index: 'year', width: 80, editable: true, editrules: { required: true }, sortable: true },
                        { name: 'startdate', index: 'startdate', width: 150, align: 'left', editable: true, search: false, editrules: { required: true } },
                        {
                            name: 'depr_expense', index: 'depr_expense', width: 180, align: 'right', formatter: 'currency', formatoptions: {
                                decimalSeparator: ",", thousandsSeparator: ".",
                                decimalPlaces: 2, prefix: "Rp "
                            }, filter: { type: 'textbox', condition: 'contains', listeners: ['keyup'] }
                        },
                        {
                            name: 'depr_accumulation', index: 'depr_accumulation', width: 185, align: 'right', formatter: 'currency', formatoptions: {
                                decimalSeparator: ",", thousandsSeparator: ".",
                                decimalPlaces: 2, prefix: "Rp "
                            }, filter: { type: 'textbox', condition: 'contains', listeners: ['keyup'] }
                        },
                        {
                            name: 'bookvalue', index: 'bookvalue', width: 185, align: 'right', formatter: 'currency', formatoptions: {
                                decimalSeparator: ",", thousandsSeparator: ".",
                                decimalPlaces: 2, prefix: "Rp "
                            }, filter: { type: 'textbox', condition: 'contains', listeners: ['keyup'] }
                        },
                        { name: 'createddate', index: 'createddate', width: 175, align: 'center', editable: false, search: false, formatter: 'date', formatoptions: { srcformat: 'Y-m-dTH:i:s', newformat: 'd F Y H:i:s' } },//,formatter: "date",formatoptions: { srcformat: "ISO8601Long", newformat: "Y/m/d H:i" }
                        { name: 'createdby', index: 'createdby', width: 115, search: false, editable: false, editoptions: { dataInit: function (element) { jq(element).attr("readonly", "readonly"); } } },
                        { name: 'modifieddate', index: 'modifieddate', width: 115, hidden: true, search: false, editable: false },
                        { name: 'modifiedby', index: 'modifiedby', width: 115, hidden: true, search: false, editable: false }
                    ],
                    jsonreader: {
                        repeatitems: false,
                        id: 'idapp',
                        root: 'rows'
                    },
                    pager: $('#NA_Acc_pager'),
                    rowList: [20, 50, 100, 200, 300, 500],
                    rownumbers: true,
                    rowNum: 5,
                    loadui: 'disable', // Disable Loading Text
                    cellEdit: false,
                    sortname: 'idapp',
                    sortorder: "desc",
                    viewrecords: true,
                    iconSet: "fontAwesome",
                    hidegrid: true,
                    shrinkToFit: false,
                    caption: 'Nufarm -- Asset Depreciation',
                    shrinkToFit: false,
                    height: $('div.fltlft').height() - ($('div.fltlft').height() * 0.173),
                    width: 'inherit',
                    prmNames: {
                        oper: 'oper', addoper: 'add', editoper: 'edit', deloper: 'del', id: 'idapp'
                    },
                    ondblClickRow: function (rowId) {
                        var btnOpen = NA.common.doc.querySelector('ul.nav.navbar-nav>li:nth-child(2)>button');
                        if (btnOpen) {
                            btnOpen.click();
                        }
                    }
                });
            }
            

            
        }
        
        


        var SearchData = NA.common.SearchData;
        SearchData.setDefaultSearchData('idapp', 'Varchar', 'greater');
        LoadData();

        function handlerSearchInput(event) {
            event = NA.NAEvent.getEvent(event);
            if (event.target == btnSearchMaster) {
                NA.NAEvent.preventDefault(event);
                var elSearch = NA.common.doc.querySelector('li.dropdown>a#bySearch'),
                SearchBy = NA.common.doc.querySelector('li.dropdown>a#bySearch').textContent.trim();
                if (SearchBy.trim() == 'By') {
                    NA.common.SearchData.setDefaultSearchData('employee_name', 'Varchar', 'like');
                    var curPage = parseInt(acc_grid.getGridParam('page'));
                    window.document.body.style.cursor = 'wait';
                    if (event.target.value !== '') {
                        NA.common.SearchData.setValue(event.target.value);
                    }
                    LoadData(curPage);
                }
                else {
                    //submit search
                    submitSearch(event);
                }
                NA.NAEvent.stopPropagation(event);
            }
            window.document.body.style.cursor = '';
        }
        //=======================handler txt & button Search master keyboard event and click================================        
        NA.NAEvent.addHandler(txtSearchMaster, 'keydown', handlerSearchInput);
        NA.NAEvent.addHandler(btnSearchMaster, 'click', handlerSearchInput);

        acc_grid.on("keyup", "tr", function (e) {
            var rowId = acc_grid.jqGrid('getGridParam', 'selrow');
            if (e.keyCode == 46) {
                var btnDelete = NA.common.dialog.doc.querySelector('ul.nav.navbar-nav li:nth-child(5)')
                btnDelete.click();
                //return false;
            }
        });
        acc_grid.navGrid('#NA_Employee_pager', {
            edit: true,
            add: true,
            del: true,
            search: true,
            refresh: true,
            view: true,
            cloneToTop: false
        });

        $("div#gbox_NA_Acc_grid, div#gview_NA_Acc_grid, div.ui-jqgrid-bdiv, div.ui-jqgrid-hdiv").css({
        'width':'inherit'
    });


//================================ Search by ==============================//


        //================================= End Search by ======================================//
    function submitSearch(event) {
        window.document.body.style.cursor = 'wait';
        if (event)
            NA.NAEvent.preventDefault(event);

        var elementOption = null, columnKey = '', valueKey = '',
        elCriteria = null,//NA.common.doc.querySelector('td.columns select.selectopts.NA-Form-Control option:checked');
        valCriteria = '',//elCriteria.nodeValue;
        elDataType = '';//elementOption.dataset.dataType;
        if (event.target.getAttribute('id') === 'fbox_jqGrid_search' || event.target.getAttribute('id') === 'jqg1') {//fbox_jqGrid_search == button search,jqg1 = txtSearch nya
            elementOption = NA.common.doc.querySelector('td.columns select.NA-Form-Control option:checked');
            columnKey = elementOption.getAttribute('name'), valueKey = NA.common.getElementID('jqg1').value;
            elCriteria = NA.common.doc.querySelector('td.operators select.selectopts.NA-Form-Control option:checked');
            criteria = elCriteria.value;
            switch (criteria) {
                case "eq": { valCriteria = 'equal'; break; }
                case "ne": { valCriteria = 'notequal'; break; }
                case "bw": { valCriteria = 'beginwith'; break; }
                case "ew": { valCriteria = "endwith"; break; }
                case "cn": { valCriteria = "like"; break; }
                case "in": { valCriteria = "in"; break; }
                case "ni": { valCriteria = "notin"; break; }
                case "gt": { valCriteria = "greater"; break; }
                case "le": { valCriteria = "less"; break; }
                case "leq": { valCriteria = "lessorequal"; break; }
                case "gtq": { valCriteria = "greaterorequal"; break; }
                case "bw": { valCriteria = "between"; break; }
            };
            elDataType = elementOption.dataset.tipe;
        }
        else if (event.target == txtSearchMaster || event.target == btnSearchMaster) {
            var txtSearchMaster = txtSearchMaster || NA.common.doc.querySelector('form.navbar-form div.input-group input[name="q"]'),
            elSearch = null;
            valueKey = txtSearchMaster.value.trim();
            var listElem = NA.common.doc.querySelector('ul.dropdown-menu.search').children;//return list Element
            var textToSearch = NA.common.getElementID('bySearch').firstChild.nodeValue;
            Array.prototype.forEach.call(listElem, function (item) {//buat jadi foreach mesti convert dulu ke array                   
                if (item.firstChild.textContent === textToSearch) {
                    elSearch = item.firstChild;
                }
            });
            columnKey = elSearch.dataset.column
            elDataType = elSearch.dataset.tipe;
            criteria = 'like'
            if (!elSearch.dataset.column) {
                switch (elDataType) {
                    case "bigint":
                    case "integer":
                    case "money":
                    case "float":
                    case "decimal":
                    case "boolean":
                    case "datetime": {
                        if (valueKey.toString().indexOf(',') > -1) {
                            criteria = 'in'
                        }
                        criteria = 'equal';
                        break;
                    }
                };
            }
        }

        NA.common.SearchData.setValue(valueKey);
        NA.common.SearchData.setColumnName(columnKey);
        NA.common.SearchData.setDataType(elDataType)
        NA.common.SearchData.setCriteria(valCriteria);
        window.document.body.style.cursor = 'wait';
        LoadData(1);
        document.body.style.cursor = 'default';
        acc_grid.jqGrid('setGridParam').trigger("reloadGrid", [{ page: 1 }]);//karena searching harus di set ke page 1
    };

        //function untuk Reset
    function submitReset(event) {
        //reload jqueryGrid
        //check apakah target dari btn reset
        if (event) {
            var target = NA.NAEvent.getTarget(event);
        }
        NA.common.SearchData.setDefaultSearchData('employee_name', 'varchar', 'like');
        NA.common.SearchData.setValue('');
        LoadData(1);
        window.document.body.style.cursor = 'default';
    };
        //========================Function Untuk memanggil Custom Search========================
    window.showDialogCustomSearch = function (event) {
        $('div.containerDialog').load("customFilter/", function (responseTxt, statusTxt, xhr) {
            if (statusTxt == "success") {
                $(this).html(responseTxt);
                var dialog = NA.common.doc.querySelector('div.containerDialog');
                NA.common.getElementID('searchmodfbox').style.display = 'block';
                var btnClose = NA.common.doc.querySelector('div#searchhdfbo a.ui-jqdialog-titlebar-close.ui-corner-all'),
                txtSearchCustom = NA.common.getElementID('jqg1');
                NA.NAEvent.addHandler(btnClose, 'click', function (event) {
                    NA.common.dialog.closeDialog(dialog);
                });
                var btnFind = NA.common.getElementID('fbox_jqGrid_search');
                NA.NAEvent.addHandler(btnFind, 'click', function (event) {
                    submitSearch(event);
                    if (event) {
                        NA.NAEvent.stopPropagation(event);
                    }
                });
                var btnReset = NA.common.getElementID('fbox_jqGrid_reset');
                NA.NAEvent.addHandler(btnReset, 'click', function (event) {
                    submitReset(event);
                    if (event) {
                        NA.NAEvent.stopPropagation(event);
                    }
                });
                NA.NAEvent.addHandler(txtSearchCustom, 'keydown', function (event) {
                    event = NA.NAEvent.getEvent(event);
                    if (event.keyCode === 13) {
                        submitSearch(event);
                    }
                    if (event) {
                        NA.NAEvent.stopPropagation(event);
                    }
                });
            }
        });
    };




            //script load dialog style sebelum panggil dialog
    var containerMenu = NA.common.dialog.doc.querySelector('ul.nav.navbar-nav');//inistialisasi menu
    //load Dialog Style css    
    NA.common.loadStyles("../../../static/app/content/Dialog.css", "DialogEntryStyle");//Load Style buat dialog sebelum di pakai
    NA.common.loadStyles("../../../static/app/content/NA_commonEntry.css","CommonEntry");//Load Style buat form sebelum di pakai

    NA.common.dialog.initDialog(containerMenu,'Nufarm Entry Goods - Master Data');//inistialisasi menu

    var elementMenus = [];
    var menus = NA.common.doc.querySelectorAll('div.sidebar ul.list-sidebar.bg-defoult li ul li a');
    Array.prototype.forEach.call(menus, function (item) {
        if (item.textContent.indexOf("Email Data") > -1) {
            elementMenus.push(item);
        }
    });
    NA.common.dialog.initDialog(null,'Nufarm Send Email - Master Data',elementMenus);//inistialisasi menu
    
    function getGridId() {
        return $(acc_grid).jqGrid('getGridParam', 'selrow')
    }

    function getGridValue (grid,jqgId, column) {
        var col = grid.jqGrid('getCell', jqgId, column);
        return col
    }
    function getValues_accForm() {
        var data = {
            fk_goods: $.trim($('input#id_fk_goods').val()),
            year: $.trim($('input#id_year').val()),
            startdate: $.trim($('input#id_startdate').val()),
            depr_expense: $.trim($('input#id_depr_expense').val()),
            depr_accumulation: $.trim($('input#id_depr_accumulation').val()),
            book_value: $.trim($('input#id_book_value').val()),
        };
        
        return data
    }
    

    var btnDelete = NA.common.dialog.doc.querySelector('ul.nav.navbar-nav li:nth-child(5)')
    NA.NAEvent.addHandler(btnDelete, 'click', function (event) {
        var get_idapp = getGridId()
        console.log(getGridId())
        if (getGridId()) {
            NA.NAEvent.preventDefault(event);
            if (!confirm('are you sure you want to delete data\nOperation can not be undone ?')) {
                return false;
            }
            NA.NAEvent.preventDefault(event);
            try {
                //delete data di server                  
                //$(selector).post(URL,data,function(data,status,xhr),dataType)-->return data type
                $.ajax({
                    url: 'http://localhost:8000/NA_Employee/delete/',
                    method:'POST',
                    data: {
                        'csrfmiddlewaretoken':get_csrf(),
                        'idapp': get_idapp,
                        'oper':'del'
                    },
                    success: function (data) {
                        var rowNum = acc_grid.getGridParam('rowNum'),
                         allRecords = acc_grid.getGridParam('records'),
                         totalPages = parseInt((allRecords / rowNum) + 1),
                         curPage = acc_grid.getGridParam('page'),
                         rowId = acc_grid.jqGrid('getGridParam', 'selrow'),
                         curRecount = acc_grid.jqGrid('getGridParam', 'reccount');
                         mustReload = true;
                        if (parseInt(curRecount) === 1) {
                            if (totalPages > 1) {
                                curPage--;
                            }
                            else {
                                mustReload = false;
                                acc_grid.delRowData(rowId);
                            }
                        }
                        else if (parseInt(totalPages) === 1) {
                            mustReload = false;
                            acc_grid.delRowData(rowId);
                        }
                        else if (parseInt(curRecount) > 1) {
                            mustReload = false;
                            acc_grid.delRowData(rowId);
                        }
                        if (mustReload) {
                            acc_grid.trigger("reloadGrid", [{ page: curPage }]);
                        };
                        reload_LogEvent();
                    }
                })
            } catch (e) {
                console.log(e);
                window.document.body.style.cursor = 'default';
                
            }
        }
        else {
            document.body.style.cursor = 'default';
            alert('Please select data you want to delete');
        }
        return false;
    });

    status = status || window.status
    function AccSubmit() {
        function sendData() {
            var valuesForm = getValues_accForm()
            var idapp;
            if (window.status.trim() == 'Edit'|| window.status == 'Open') {
                idapp = getGridId()
            } else {
                idapp = ''
            }
            var snData = Object.assign({
                'csrfmiddlewaretoken': get_csrf(),
                'mode': window.status,
            }, valuesForm, {'idapp':idapp})
            return snData
        }
                $.ajax({
                    url: 'http://localhost:8000/NA_Acc_FA/ShowEntry/',
                    method: 'POST',
                    beforeSend: function (jqXHR) {
                        jqXHR.setRequestHeader('X-CSRF-Token', get_csrf())
                    },
                    data: sendData(),
                    success: function (data) {
                        $('div.containerDialog, div#dropSheet').remove()
                        acc_grid.trigger('reloadGrid');
                        if (status.trim() == 'Add' || status.trim() == 'Edit') {
                            setTimeout(function () {
                                acc_grid.setSelection(data['message'], true)
                            },1000)
                            
                        }
                    }
                });
    };

    function ExecuteHandler(TextElement) {
        var dialog = NA.common.dialog.doc.querySelector("div.containerDialog");
        var frmEntry = NA.common.doc.querySelector('form#acc_form');
        var emailForm = NA.common.doc.querySelector('form#email_data');
        if (frmEntry) {
            switch (TextElement) {
                case 'OK': {
                    if (!frmEntry.checkValidity()) {
                        //NA.NAEvent.preventDefault(event);                                          
                        var inputbtn = NA.common.getElementID('acc_submit');
                        inputbtn.click();
                    }
                    else {
                        AccSubmit();
                        reload_LogEvent();
                    }
                    //jangan di close 
                    //clear kan textbox dan set initilize data, focus ke itemCode

                    break;
                }
                case 'Cancel':
                case 'Close': {
                    //check if data has changed with javascrispt
                    initializeForm = NA.common.getElementID('id_initializeForm');
                    if (status === 'Open' || initializeForm.Value == '') { NA.common.dialog.closeDialog(dialog); return false; }
                    var originalData = JSON.parse(initializeForm.Value);
                    var valuesForm = getValues_accForm();
                    if (NA.common.detectInputChanges(originalData, valuesForm)) {
                        if (confirm('Data has changed, \nSave data before closing form ?')) {
                            if (!frmEntry.checkValidity()) {
                                //NA.NAEvent.preventDefault(event);   
                                var inputbtn = NA.common.getElementID('employee_submit');
                                inputbtn.click();
                            }
                            else {
                                AccSubmit();
                                reload_LogEvent();
                            }
                        } else {
                            NA.common.dialog.closeDialog(dialog);
                        }
                    } else {
                        NA.common.dialog.closeDialog(dialog);
                    }
                }
            };
        } else if (emailForm) {
            var emailForm = NA.common.doc.querySelector('form#email_data');
            switch (TextElement) {
                case 'Cancel':
                case 'Close': {
                    var initializeEmail = NA.common.getElementID('initializeEmail');
                    var originalData = initializeEmail.Value;
                    var valuesForm = getValues_emailForm();
                    
                    if (NA.common.detectInputChanges(originalData, valuesForm)) {
                        if (confirm('Data has changed, \nAre you sure to Send mail ?')) {
                            if (!emailForm.checkValidity()) {
                                //NA.NAEvent.preventDefault(event);   
                                var inputbtn = NA.common.getElementID('emailData_submit');
                                inputbtn.click();
                            } else {
                                NA.common.doc.querySelector('div.dialogButtonOKCancel>a.button:nth-child(1)').click()
                            }
                        } else {
                            NA.common.dialog.closeDialog(dialog);
                        }
                    } else {
                        NA.common.dialog.closeDialog(dialog);
                    }
                }

            }
        }
        
    };

    window.showDialogEntry = function (event) {//function ini akan di panggil oleh NAJS.common.dialog,setiap menu add/edit/delete,etc di clik 
        //add handler to btnOK untuk mengantisipasi form load gagal
        var win = window
        var target = NA.NAEvent.getTarget(event);

        try {
            
            if (target.innerText === 'Email Data') {
                var bottomRight = $('div.dialogButtonRightOther');
                bottomRight.find('a.btn-link:eq(1)').css({
                    'cursor': 'pointer',
                    'pointer-events': 'all',
                    'width': 'auto',
                    'margin-right':'5px'
                }).text('Export To PDF');
                bottomRight.find('a.btn-link:eq(0)').css({
                    'cursor': 'pointer',
                    'pointer-events': 'all',
                    'width': 'auto'
                }).text('Preview PDF');
                //$('<a class="btn btn-success" style="#8FBC8F">Export To PDF</a>').insertAfter($('div.dialogButtonRightOther').find('a.btn-link'))
                var btnToPDF = document.querySelector('div.bottomDialogContent a.btn-link:nth-child(1)');
                //====================================== Display Email Data Dialog =========================================
                $('div.maindialogContent').load("http://localhost:8000/NA_EmailData/", function (response, status, xhr) {
                    if (status == "success") {
                        var jspdf = "http://localhost:8000/static/app/scripts/jspdf.js";
                        var sfm = "http://localhost:8000/static/app/scripts/standard_fonts_metrics.js";
                        var stz = "http://localhost:8000/static/app/scripts/split_text_to_size.js";
                        var js_pdf = "http://localhost:8000/static/app/scripts/jspdf.plugin.autotable.min.js";
                        var jqUI = "http://localhost:8000/static/app/scripts/jquery-ui.min.js";
                        var autoComp = "http://localhost:8000/static/app/scripts/autocomplete.js";
                        var emailDataJS = "http://localhost:8000/static/app/scripts/NA_EmailData.js";
                        var oneLoad = $('body > script[src="' + jspdf + '"]') && $('head > script[src="' + jspdf + '"]') && $('head > script[src="' + jspdf + '"]');
                        if (!oneLoad.length) {
                            var afterJquery = $('script#jq_uery');
                            $('<script type="text/javascript" src="' + jspdf + '">').insertAfter(afterJquery);
                            $('<script type="text/javascript" src="' + sfm + '">').insertAfter(afterJquery);
                            $('<script type="text/javascript" src="' + stz + '">').insertAfter(afterJquery);
                            $('<script type="text/javascript" src="' + js_pdf + '">').insertAfter(afterJquery);
                            $('<script type="text/javascript" src="' + jqUI + '">').insertAfter(afterJquery);
                            $('<script type="text/javascript" src="' + autoComp + '">').insertAfter(afterJquery);
                            $('<script type="text/javascript" src="' + emailDataJS + '">').insertAfter(afterJquery);
                        };
                        var originalData = getValues_emailForm();
                        var initializeEmail = NA.common.getElementID('initializeEmail');
                        initializeEmail.Value = originalData;

                        //=========================================== End Display Email Data Dialog ===========================================
                    }
                    
                });
                
                //if (window.document.body.style.cursor != 'default') { window.document.body.style.cursor = 'default'; }
                //return false;
            } else if (target.innerText.trim() === 'Add' || target.innerText.trim() === 'Edit' || target.innerText.trim() == 'Open') {
                if (target.innerText.trim() == 'Edit'||target.innerText.trim() =='Open') {
                    var idapp = getGridId();
                    if (typeof idapp == 'undefined' || !idapp || idapp == '') {
                        var dialog = NA.common.dialog.doc.querySelector("div.containerDialog");
                        NA.common.dialog.closeDialog(dialog);
                        alert('Please Select data to Open or Edit !!')

                        return false
                    }
                }

                $('div.maindialogContent').load("ShowEntry/?" + win.encodeURIComponent('idapp') + '=' + win.encodeURIComponent(getGridId()) + '&' + win.encodeURIComponent('mode')
                    + '=' + win.encodeURIComponent(target.innerText.trim()), function (responseTxt, statusTxt, xhr) {//load /tampilkan form entry data(ShowEntry hanya contoh nama form)                  
                    if (statusTxt == "success") {  //jika form sudah di load selanjutnya tinggal inisialisasi semua component dan simpang semua ke dalam variable jika perlua
                        //remove attribute disable untuk button OK dan cancel bila statusnya Add
                        switch (status) {
                            
                            case 'Add':
                                {
                                     break;
                                }
                            case 'Edit':
                                {
                                    setTimeout(function () {
                                        $('div.dialogButtonOKCancel>a.button').removeAttr("disabled");
                                    },10)
                                    
                                    
                                }
                            case 'Open': {
                                $('div.dialogButtonEntry>a.button').attr("disabled", true);
                                break;
                            }
                            case 'Delete': {
                                $('div.dialogButtonEntry>a.button').attr("disabled", true);
                                break;
                            }
                        };
                        if (status !== 'Open' && status !== '') {//hanya untuk status Add/Edit                                   
                            //simpan original data di initializeForm
                            var originalData = JSON.stringify(getValues_accForm());
                            $('#id_fk_goods').autocomplete({
                                source: 'SearchGoods/',
                                select: function (event, ui) {
                                    $.ajax({
                                        url: 'getGoods/',
                                        method:'POST',
                                        data: {
                                            'idapp': ui.item.value,
                                            'csrfmiddlewaretoken':get_csrf()
                                        },
                                        success: function (data) {
                                            $('input#id_year').val(data[0]['year']);
                                            $('input#id_startdate').val(data[0]['startdate']);
                                            $('input#id_depr_expense').val(data[0]['depr_expense']);
                                            $('input#id_depr_accumulation').val(data[0]['depr_accumulation']);
                                            $('input#id_book_value').val(data[0]['book_value']);
                                        }
                                    })
                                }
                            });
                            initializeForm = NA.common.getElementID('id_initializeForm');
                            initializeForm.Value = originalData;
                            //setting Custom Validity
                        }
                        
                    }
                    NA.NAEvent.preventDefault(event);
                    if (window.document.body.style.cursor != 'default') { window.document.body.style.cursor = 'default'; }
                });
            }
            var dialog = NA.common.dialog.doc.querySelector("div.containerDialog");
            $('div.dialogButtonOKCancel>a.button').on('click', function () {
                var frmEntry = NA.common.doc.querySelector('form#acc_form');
                var emailForm = NA.common.doc.querySelector('form#email_data')
                if (frmEntry || emailForm) {
                    var inrtext = $(this).text()
                    ExecuteHandler(inrtext);
                    return false;
                }

                if (event) {
                    NA.NAEvent.stopPropagation(event);
                }
                return false;
            });
            $('button.ui-button.ui-dialog-titlebar-close').on('click', function (event) {
                NA.NAEvent.preventDefault(event);
                var frmEntry = NA.common.doc.querySelector('form#acc_form');
                var emailForm = NA.common.doc.querySelector('form#email_data')
                if (frmEntry) {
                    ExecuteHandler('Close');
                } else if (emailForm) {
                    ExecuteHandler('Close');
                }
                //stop buble event if it fires to child or parent component
                if (event) {
                    NA.NAEvent.stopPropagation(event);
                }
                document.body.style.cursor = 'default';
                return false;
            });
            

        } catch (e) {
            dialog = NA.common.dialog.doc.querySelector("div.containerDialog");
            if (window.document.body.style.cursor != 'default') { window.document.body.style.cursor = 'default'; }
            alert(e);
        }
    };
});
</script>

{% endblock %}