
    <div class="ui-widget ui-widget-content ui-corner-all ui-jqdialog jqmID1" id="searchmodfbox" dir="ltr" style="width: 450px; height: auto; overflow: hidden;font-size:11px" tabindex="-1" role="dialog" aria-labelledby="searchhdfbox" aria-hidden="false">
        <div class="ui-jqdialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix" id="searchhdfbo" style="cursor: move;">
            <span class="ui-jqdialog-title" style="float: left;">Search...</span>
            <a class="ui-jqdialog-titlebar-close ui-corner-all" style="right: 0.3em;">
                <span class="ui-icon ui-icon-closethick"></span>
            </a>
        </div>
        <div class="ui-jqdialog-content ui-widget-content" id="searchcntfbox" style="background: none;">
            <div>
                <div id="fbox" class="searchFilter" style="overflow:auto">
                    <table class="group ui-widget ui-widget-content" style="border:0px none;">
                        <tbody>
                            <tr class="error" style="display:none;"><th colspan="5" class="ui-state-error" align="left"></th></tr>
                            <tr><th colspan="5" align="left"><span></span></th></tr>
                            <tr>
                                <td class="first"></td>
                                <td class="columns">
                                  <select class="NA-Form-Control"><!--Isi option dengan column name=colummodel name di jquerygrid,value=colmodel index di jquerygrid, text = col names di jquerygrid-->
                                     {% for col in cols %}
                                        {% if col.selected == "True" %}
                                           <option name="{{ col.name }}" value="{{ col.value }}" data-tipe="{{ col.dataType }}" selected="selected">{{ col.text }}</option>
                                        {% else %}
                                           <option name="{{ col.name }}" value="{{ col.value }}" data-tipe="{{ col.dataType }}">{{ col.text }}</option>
                                        {% endif %}
                                     {% endfor %}
                                  </select>
                                </td>
                                <td class="operators">
                                    <select class="selectopts NA-Form-Control">
                                        <!--============DEFAULT CRITERIA BAWAAN JQUERY GRID===================-->
                                        <option value="eq" selected="selected">equal</option>
                                        <option value="ne">not equal</option>

                                        <option value="bw">begins with</option>

                                        <!--=========HILANGKAN CRITERIA INI====================
                                           <option value="bn">does not begin with</option>
                                           <option value="en">does not end with</option>
                                           <option value="nc">does not contain</option>
                                           <option value="nn">is not null</option>
                                           <option value="nu">is null</option>
                                         =======================================================-->
                                        <option value="ew">ends with</option>
                                        <option value="cn">contains</option>
                                        <option value="in">is in</option>
                                        <option value="ni">is not in</option>

                                        <!--===========TAMBAHKAN CRITERIA BAWAAN SYSTEM================

                                            Greater
	                                        Less
	                                        LessOrEqual
	                                        GreaterOrEqual
	                                        Beetween

                                        =============================================================-->
                                          <option value="gt">Greater(>)</option>
                                          <option value="le">Less(<)</option>
                                          <option value="leq">Less Or Equal</option>
                                          <option value="gtq">Greater or Equal(>=)</option>
                                          <option value="bw">between</option>
                                    </select>
                                </td>
                                <td class="data"><input id="jqg1" style="width: 98%;" role="textbox" class="input-elm NA-Form-Control" type="text"></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table class="EditTable" style="border:0px none;margin-top:5px" id="fbox2">
                    <tbody>
                        <tr><td colspan="2"><hr class="ui-widget-content" style="margin:1px"></td></tr>
                        <tr>
                            <td class="EditButton" style="text-align:left">
                                <a id="fbox_jqGrid_reset" class="fm-button ui-state-default ui-corner-all fm-button-icon-left ui-search">
                                    <span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>Reset
                                </a>
                            </td>
                            <td class="EditButton">
                                <a id="fbox_jqGrid_search" class="fm-button ui-state-default ui-corner-all fm-button-icon-right ui-reset">
                                    <span class="ui-icon ui-icon-search"></span>Find
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="jqResize ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se">
        </div>
    </div>